MONGO = "Atlas/Local MongoDB URL here"
JWT_SECRET = "Enter a strong secret key here"
AWS_REGION= "ap-south-1"
AWS_ACCESS_KEY_ID= "if using AWS S3, enter your access key here"
AWS_SECRET_ACCESS_KEY= "if using AWS S3, enter your secret access key here"
AWS_BUCKET_NAME= "if using AWS S3, enter your bucket name here"
CLIENT_URL= "http://localhost:5173"